---
import Image from "astro/components/Image.astro";
interface Image {
  src: string;
  alt: string;
  cols?: number;
  rows?: number;
}

const images: Image[] = [
  {
    src: "/images/placeholder.jpg",
    alt: "Placeholder 1",
    cols: 2,
    rows: 2,
  },
  {
    src: "/images/placeholder.jpg",
    alt: "Placeholder 2",
  },
  { src: "/images/placeholder.jpg", alt: "Placeholder 3" },
  {
    src: "/images/placeholder-tall.jpg",
    alt: "Placeholder 4",
    cols: 2,
    rows: 2,
  },
  {
    src: "/images/placeholder.jpg",
    alt: "Placeholder 5",
    cols: 2,
  },
  { src: "/images/placeholder.jpg", alt: "Placeholder 6" },
  { src: "/images/placeholder.jpg", alt: "Placeholder 7" },
  { src: "/images/placeholder.jpg", alt: "Placeholder 8" },
  { src: "/images/placeholder.jpg", alt: "Placeholder 9" },
];
---

<div
  class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 xl:grid-cols-8 gap-1 z-10"
>
  {
    images.map((image, index) => (
      <div
        data-index={index}
        class={`col-span-${image.cols || "auto"} row-span-${image.rows || "auto"}`}
      >
        <Image
          src={image.src}
          alt={image.alt}
          class="h-full w-full rounded-lg object-cover cursor-pointer"
          loading="lazy"
          data-src={image.src}
          data-alt={image.alt}
          height="100"
          width="100"
          format="avif"
        />
      </div>
    ))
  }
</div>

<div id="modalGallery" class="modal-window">
  <div class="modal-container relative">
    <img
      id="modalImage"
      src=""
      alt=""
      class="max-h-full max-w-full rounded-lg"
    />
    <button
      id="closeButton"
      class="absolute flex place-content-center top-2 right-2 border-2 border-monstera-500 bg-ivory-rose-50/85 outline-0 ring-offset-2 ring-offset-ivory-rose-50 focus-visible:ring focus-visible:ring-monstera-500 backdrop-blur h-8 w-8 rounded-full"
    >
      <span class="leading-none text-monstera-500 text-2xl -mt-[2px]"
        >&times;</span
      >
    </button>
  </div>
</div>

<style>
  #modalImage {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 8px;
  }
</style>

<script type="module">
  document.querySelectorAll("img[data-src]").forEach((img) => {
    img.addEventListener("click", () => {
      openModal(img.getAttribute("data-src"), img.getAttribute("data-alt"));
      document.body.style.overflow = "hidden";
    });
  });

  document.getElementById("closeButton").addEventListener("click", closeModal);

  function openModal(src, alt) {
    const modal = document.getElementById("modalGallery");
    const modalImage = document.getElementById("modalImage");
    modalImage.src = src || "";
    modalImage.alt = alt || "";
    modal.classList.add("open");
  }

  function closeModal() {
    const modal = document.getElementById("modalGallery");
    modal.classList.remove("open");
    document.body.style.overflow = "";
  }
</script>
