---
import SiteNav from "../components/SiteNav.astro";
import SiteFooter from "../components/SiteFooter.astro";
import { SEOMetadata } from "astro-seo-metadata";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/moxie-studio/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <SEOMetadata
      siteName={"Moxie Beauty Studio"}
      title={"Moxie Beauty Studio"}
      description={"Moxie Beauty Studiospecializes in stunning lashes and sculpted brows, offering personalized treatments that leave you confident and radiant."}
      image={"http://example.com/the_image_url-preferably_absolute.jpg"}
      favicon={"/moxie-studio/favicon.svg"}
      author="Travis Hall"
      copyright="ISC"
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type={"website"}
      astroGenerator={true}
    />
  </head>
  <body
    class="relative bg-ivory-rose-50 dark:bg-monstera-900 text-midnite-900 dark:text-white"
    id="top"
  >
    <SiteNav />
    <!-- <Icon
      name="Foliage/Foliage-01"
      class="absolute -top-4 w-auto h-[80vw] md:h-[60vw] xl:h-[40vw] rotate-45 opacity-25"
    /> -->
    <slot />
    <SiteFooter />

    <style is:global>
      @font-face {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 200 1000;
        font-display: swap;
        src: url(/moxie-studio/fonts/Mulish-VariableFont_wght.woff2)
          format("woff2");
      }
      @font-face {
        font-family: "Mulish Italic";
        font-style: normal;
        font-weight: 200 1000;
        font-display: swap;
        src: url(/moxie-studio/fonts/Mulish-Italic-VariableFont_wght.woff2)
          format("woff2");
      }
      @font-face {
        font-family: "Nyght Serif";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/moxie-studio/fonts/NyghtSerif-Light.woff2) format("woff2");
      }

      @font-face {
        font-family: "Nyght Serif Italic";
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(/moxie-studio/fonts/NyghtSerif-LightItalic.woff2)
          format("woff2");
      }
      @font-face {
        font-family: "Nyght Serif Dark";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(/moxie-studio/fonts/NyghtSerif-Dark.woff2) format("woff2");
      }

      @font-face {
        font-family: "Nyght Serif Dark Italic";
        font-style: italic;
        font-weight: 800;
        font-display: swap;
        src: url(/moxie-studio/fonts/NyghtSerif-DarkItalic.woff2)
          format("woff2");
      }
      html {
        min-height: 100dvh;
        scroll-behavior: smooth;
      }
      button path {
        fill: #fff;
      }
      .logo-fill {
        fill: #0c1a0e;
      }
      .logo-hilite {
        fill: #d9b77b;
      }
      @media (prefers-color-scheme: dark) {
        button path {
          fill: #1d3e22;
        }
        .logo-fill {
          fill: #fff;
        }
        .logo-hilite {
          fill: #ddbfbf;
        }
        .light {
          button path {
            fill: #fff;
          }
          .logo-fill {
            fill: #0c1a0e;
          }
          .logo-hilite {
            fill: #d9b77b;
          }
        }
      }
      @media (prefers-color-scheme: light) {
        button path {
          fill: #fff;
        }
        .logo-fill {
          fill: #0c1a0e;
        }
        .logo-hilite {
          fill: #d9b77b;
        }
        .dark {
          button path {
            fill: #0c1a0e;
          }
          .logo-fill {
            fill: #fff;
          }
          .logo-hilite {
            fill: #ddbfbf;
          }
        }
      }
    </style>
    <script>
      document
        .querySelector(".booking-btn")
        ?.addEventListener(
          "click",
          () =>
            (window.location.href =
              "https://squareup.com/appointments/book/anzl660330wful/LHZ09SDE51Z6W/start")
        );
      document
        .querySelector(".facebook-btn")
        ?.addEventListener(
          "click",
          () =>
            (window.location.href =
              "https://www.facebook.com/moxiebeautystudiowi")
        );
    </script>
  </body>
</html>
